<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grayquest.myapplication">

    <application>
        <activity
            android:name=".WebView_Activity"
            android:exported="false" />
    </application>

</manifest>